<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.10.243.2:3306/toolvendor?zeroDateTimeBehavior=convertToNull?autoReconnect=true</property>
    <property name="hibernate.connection.username">admin44PjVCd</property>
    <property name="hibernate.connection.password">mAdCv7rhesFI</property>
    <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:8889/toolvendor?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>-->
    <property name="hibernate.connection.autoReconnect">true</property>
    <property name="hibernate.connection.autoReconnectForPools">true</property>
    <property name="validationQuery">select 1</property>
    <property name="hibernate.connection.is-connection-validation-required">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.show_sql">true</property>
    <!-- dbcp connection pool configuration -->
    <property name="hibernate.dbcp.initialSize">5</property>
    <property name="hibernate.dbcp.maxTotal">20</property>
    <property name="hibernate.dbcp.maxIdle">10</property>
    <property name="hibernate.dbcp.minIdle">5</property>
    <property name="hibernate.dbcp.maxWaitMillis">-1</property>
    <mapping class="com.beecode.toolvendor.model.Call"/>
    <mapping class="com.beecode.toolvendor.model.Catalog"/>
    <mapping class="com.beecode.toolvendor.model.Contact"/>
    <mapping class="com.beecode.toolvendor.model.Company"/>
    <mapping class="com.beecode.toolvendor.model.Customer"/>
    <mapping class="com.beecode.toolvendor.model.Product"/>
    <mapping class="com.beecode.toolvendor.model.OrderDetail"/>
    <mapping class="com.beecode.toolvendor.model.Cellar"/>
    <mapping class="com.beecode.toolvendor.model.Family"/>
    <mapping class="com.beecode.toolvendor.model.UserZone"/>
    <mapping class="com.beecode.toolvendor.model.Stock"/>
    <mapping class="com.beecode.toolvendor.model.Groups"/>
    <mapping class="com.beecode.toolvendor.model.Promotions"/>
    <mapping class="com.beecode.toolvendor.model.Modules"/>
    <mapping class="com.beecode.toolvendor.model.Zone"/>
    <mapping class="com.beecode.toolvendor.model.User"/>
    <mapping class="com.beecode.toolvendor.model.UserType"/>
    <mapping class="com.beecode.toolvendor.model.ProductType"/>
    <mapping class="com.beecode.toolvendor.model.Brand"/>
    <mapping class="com.beecode.toolvendor.model.Country"/>
    <mapping class="com.beecode.toolvendor.model.Order"/>
    <mapping class="com.beecode.toolvendor.model.OrderType"/>
    <mapping class="com.beecode.toolvendor.model.Category"/>
    <mapping class="com.beecode.toolvendor.model.Presentation"/>
    <mapping class="com.beecode.toolvendor.model.UserGroups"/>
    <mapping class="com.beecode.toolvendor.model.Permission"/>
    <mapping class="com.beecode.toolvendor.model.City"/>
    <mapping class="com.beecode.toolvendor.model.Visit"/>
    <mapping class="com.beecode.toolvendor.model.VisitType"/>
    <mapping class="com.beecode.toolvendor.model.VisitPicture"/>
  </session-factory>
</hibernate-configuration>
